<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Automation</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <h1>Home Automation</h1>
    <h2>This is a place where I will control the lights throughout the home.</h2>
    <div class="active-outlets">
        <div class="lamp-button">
            <button id="lampOn" name="lamp">Turn on Lamp</button>
            <button id="lampOff" name="lamp">Turn off Lamp</button>
        </div>
        <div class="tree-button">
            <button id="treeOn" name="christmas_tree">Turn on Christmas Tree</button>
            <button id="treeOff" name="christmas_tree">Turn off Christmas Tree</button>
        </div>
    </div>
    <div>
        <button id="turnOffAllLights">Turn off all Lights</button>
    </div>
</div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(() => {
        $('.active-outlets button').on('click', async (e) => {
            e.preventDefault();
            const lightSetting = e.target.id.includes('On') ? 'on' : 'off'
            console.log(lightSetting)
            const data = {
                method: 'POST',
                body: JSON.stringify({
                    id: e.target.id,
                    name: e.target.name,
                    lightSetting: lightSetting
                })
            };

            await fetch('/handle-button', data);
        });

        $('#turnOffAllLights').on('click', async (e) => {
            e.preventDefault();
            const data = {
                method: 'GET',
            };

            await fetch('/turn-off-all-lights', data);
        });

        setInterval(async () => {
            const date = new Date();
            const currentTime = `${date.getHours()}:${date.getMinutes()}`;
            console.log(currentTime === '20:07', currentTime)
            if (currentTime === '23:45' || currentTime === '20:10') {
                const data = {
                    method: 'GET',
                };
                console.log('Going to shut off all lights now')
                await fetch('/turn-off-all-lights', data);
            }
        }, 1 * 1000)
    });
</script>